// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import 'body.scss';
@import 'card.scss';
@import 'detail.scss';
@import 'footer.scss';
@import 'header.scss';
@import 'home.scss';
@import 'auth.scss';
@import 'nav.scss';
@import 'responsive.scss';
@import 'sidenav.scss';
@import 'signin.scss';

@import 'admin.scss';
@import 'welcome.scss';

@import 'checkout.scss';
@import 'loading.scss';
@import 'icon.scss';
@import 'contact.scss';
@import 'webshop.scss';



