#login{
    color: #370617;;
    background-color: #eae0d5;
    border-radius: 1rem;
    padding:2rem;
    padding-bottom:4rem;
    margin-top:4rem;
    margin-bottom:4rem;
}

#register{
    color: #370617;;
    background-color: #eae0d5;
    border-radius: 1rem;
    padding:2rem;
    padding-bottom:4rem;
    margin-top:4rem;
    margin-bottom:4rem;
    
}
.fixlink{
    color: #cad2c5;
    font-size: 1rem;
    text-align:center;
}

.fixlink:hover,
.fixlink:focus{
    color:#2e401c;
}

.fixlink2{
    color: black;
    font-size: 1rem;
    text-align:center;
}

.fixlink2:hover,
.fixlink2:focus{
    color:#cad2c5;
}
