#checkout{
    color: #370617;;
    background-color: #eae0d5;
    border-radius: 1rem;
    padding:2rem;
    padding-bottom:4rem;
    margin-top:4rem;
    margin-bottom:4rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  .submit_button {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
  }

  .btn_redeem {
    background-color: #414833;
    color: aliceblue;
  }

  .checkout_badge {
    background-color: #414833;
  }
  .checkout_form{
    position: absolute;
    bottom: 0em;
    border: 0.5px solid #41483355;
    padding-right: 1rem;
    margin-bottom:  2rem;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
