#detail{
    background-color: rgba(82, 82, 82, 0.726) !important;
    border-style: solid !important;
    border-radius: 10px !important;
    // padding: 8rem;
    margin-left:1rem;
}

.detail_text {
    padding: 1rem;
}