h2 {
    font-size: 3em;
    color: #370617;
    text-align: center;
    padding-top: 0.5rem;
}

header {
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: solid grey 2px;
    border-radius: 20px;
    height: 200px;
    margin: 1em;
}

.navlinks {
    padding-bottom: 1rem;
    text-align: center;
}

.navlinks a {
    color: #cad2c5;
    font-size: 1em;
    font-weight: bold;
}

.navlinks a:hover {
    color: #2e401c;
    text-decoration: none;
    cursor: pointer;
}

#username {
    background-color: #eae0d5;
    border-radius: 0.5rem;
    margin: 1rem;
}


.dropdown-menu {
    background-color: #414833;
    padding: 0;
    margin: 0;
}

.dorpdown-item {
    background-color: #414833;
    border-color: #656d4a;
}

.dropdown-item:hover {
    background-color: rgb(68, 124, 255);
    border-color: #656d4a;
    cursor: pointer;
}

#shopping {
    color: darkred;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 0.7rem;
}

#deletBtn {
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
}

#shoppingCart {
    padding: 1.5rem;
}

#cartBorder {
    border-radius: 1rem;
    background-color: #eae0d5;
}

option {
    color: #cad2c5;
    background-color: #414833;
    border-color: #656d4a;
    text-align: left;
    cursor: pointer;
    padding: 2rem;
}
