@media (min-width:901px) and (max-width:1750px) {
    #homeImg {
        width: 650px;
        height: 550px;
    }
}

@media (min-width:509px) and (max-width:900px) {
    #homeImg {
        background-size: 100% 100%;
        width: 350px;
        height: 250px
    }

}

@media (min-width:375px) and (max-width:510px) {
    h2 {
        font-size: 2em;
        padding-bottom: 0.5rem;
    }

    h1 {
        font-size: 1.5em;
    }

    #homeImg {
        background-size: 100% 100%;
        width: 400px;
        height: 350px
    }

    #homeNav {
        text-align: center;
        padding-top: 0.2rem;
        padding-bottom: 0.25rem;
    }
}

@media (max-width:375px) {
    h2 {
        font-size: 2em;
        padding-bottom: 0.5rem;
    }

    h1 {
        font-size: 0.7em;
    }

    .navlinks a {
        font-size: 0.5em;
        font-weight: bold;
    }

    .btn-primary {
        margin-left: 0.5rem;
        transition: background-color 200ms ease-in-out;
        -ms-text-size-adjust: auto;
    }

    #footer {
        height: 90px;
    }

    option {
        font-size: 0.5rem;
    }

    #homeImg {
        background-size: 100% 100%;
        width: 300px;
        height: 250px
    }

    #homeNav {
        text-align: center;
        padding-top: 0;
        padding-bottom: 0.2rem;
    }

    .fa {
        width: 30px;
        height: 30px;
        padding: 4px;
        font-size: 25px;
        margin: 4px 4px;
    }

    .nav-item {
        font-size: 15px;

    }

    .text-muted {
        font-size: 15px;
    }
}
