.sidenav {
    height: auto;
    width: 200px;
    left: 0;
    background-color: #fff1e69d;
    overflow-x: hidden;
    padding-top: 20px;
    border-radius: 10px;
    margin-right: 3rem;
}

.sideBtn {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
