// .header_welcome_nav {
//     border: lightgrey solid 2px;
//     background-color: rgb(110, 77, 36);
//     background: url('/images/background.jpg');
//     font-weight: bold;
//     border-radius: 20px;
//     margin: 1em;
//     height: 16em;
// }

// .welcome_body_img {
//     background: url('/images/bodybg.jpg');
// }

// .welcome_image {
//     background: url('/images/coffeeGif1.gif');
// }
// #homeImg{
//     margin-top: 1em;
//     margin-right: 1em;
//      width: 100%;
//      min-height: 500px;
//      opacity: 0.3;
//      margin-left:-2em;
    //  height: 100%;
//  }

 .welcome_menu {
     display: flex;
     justify-content: center;
    //  flex-wrap: wrap;
 }



 .image-space {
     height: 50em;
 }

 .welcome_page {
     opacity: 0.4;
      /* Location of the image */ 
      background-image: url('/images/coffeeGif1.gif'); 
      /* Background image is centered vertically and horizontally at all times */ 
      background-position: center center; 
      /* Background image doesn’t tile */ 
      background-repeat: no-repeat; 
      /* Background image is fixed in the viewport so that it doesn’t move when the content’s height is greater than the image’s height */ 
      background-attachment: fixed; /* This is what makes the background image rescale based on the container’s size */ 
      background-size: cover; /* Set a background color that will be displayed while the background image is loading */ 
      background-color: #464646; 
      overflow: hidden;
   
} 